site_name         = "cbuckley-agentlab"
fastly_api_key    = ""
sigsci_corp       = ""
sigsci_email      = ""
sigsci_token      = ""
google_project    = ""
magento           = false
magento_pub_key   = ""
magento_priv_key  = ""
hyva              = false
hyva_ssh_priv_key = ""
wordpress         = true
puppeteer         = false
randomhack        = true